<div class="card">
  <div class="card-header d-flex align-items-center">
    <h5 class="mb-0">
      Calendar
    </h5>
  </div>
  <div class="card-body p-0">

    <table class="table table-bordered m-0">
      <thead>
        <tr>
          <th rowspan="2">Cars</th>
          <th [attr.colspan]="month.colSpan"
              *ngFor="let month of monthsArray">
            {{month.monthName}}
          </th>
        </tr>
        <tr>
          <th (click)="moveDays('LEFT')">
            <i class="fa fa-angle-left"></i>
          </th>
          <th *ngFor="let day of daysArray">
            {{day | date: 'd'}}
          </th>
          <th (click)="moveDays('RIGHT')">
            <i class="fa fa-angle-right"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <th scope="row">
            {{reservation.clientName}}
          </th>
          <td></td>
          <td *ngFor="let day of daysArray"
              class="p-0 position-relative">
            <span *ngIf="isDayReserved(day, reservation)"
                  class="reserved-day"
                  (click)="editReservation(reservation)"
                  [class.reserved-day--from]="isSameDay(day, reservation.from)"
                  [class.reserved-day--to]="isSameDay(day, reservation.to)"
                  >
            </span>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-edit-reservation *ngIf="isModalVisible"
                          [reservation]="selectedReservation"
                          (update)="onReservationUpdate($event)"
                          (delete)="onReservationDelete($event)"
                          (close)="closeModal()"
                          (create)="onReservationCreate($event)">
</app-add-edit-reservation>