<div class="card">
  <div class="card-header bg-dark d-flex align-items-center">
    <h5 class="text-white mb-0">
      Calendar
    </h5>
  </div>
  <div class="card-body p-0">

    <table class="calendar__table table m-0">
      <thead>
        <tr>
          <th rowspan="2">Clients</th>
          <th [attr.colspan]="month.colSpan"
              class="text-center"
              *ngFor="let month of monthsArray">
            <span class="text-truncate d-inline-block">
              {{month.monthName}}
            </span>
          </th>
        </tr>
        <tr class="calendar__days">
          <th (click)="moveDays('LEFT')"
              class="c-pointer">
            <i class="fa fa-angle-left"></i>
          </th>
          <th *ngFor="let day of daysArray"
              class="px-0">
            <span class="calendar__day text-center">
              {{day | date: 'd'}}
            </span>
          </th>
          <th (click)="moveDays('RIGHT')"
              class="c-pointer">
            <i class="fa fa-angle-right"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <th scope="row">
            <span class="calendar__client-name"
                  [title]="reservation.clientName">
              {{reservation.clientName}}
            </span>
          </th>
          <td>
            <span *ngIf="roundDate(reservation.to) < roundDate(startDate)"
                  class="text-primary"
                  [title]="reservation.from | date">
              ...
            </span>
          </td>
          <td *ngFor="let day of daysArray"
              class="p-0 position-relative">
            <span *ngIf="isDayReserved(day, reservation)"
                  class="reserved-day"
                  (click)="editReservation(reservation)"
                  [class.reserved-day--from]="isSameDay(day, reservation.from)"
                  [class.reserved-day--to]="isSameDay(day, reservation.to)"
                  >
            </span>
          </td>
          <td>
            <span *ngIf="roundDate(reservation.from) > roundDate(endDate)"
                  class="text-primary"
                  [title]="reservation.from | date">
              ...
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-edit-reservation *ngIf="isModalVisible"
                          [reservation]="selectedReservation"
                          (update)="onReservationUpdate($event)"
                          (delete)="onReservationDelete($event)"
                          (close)="closeModal()"
                          (create)="onReservationCreate($event)">
</app-add-edit-reservation>