<div class="modal-container">
  <div class="modal-dialog"
      role="document">
    <form #reservationForm="ngForm"
          class="modal-content"
          (submit)="onCreateReservation(reservationForm)">

      <div class="modal-header">
        <h5 class="modal-title">Add Reservation</h5>
        <button type="button"
                class="close"
                (click)="onModalClose()">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Car</label>
          <select [(ngModel)]="reservation.carId"
                  name="carId"
                  required
                  #carId="ngModel"
                  class="form-control">
            <option [value]="car.id"
                    *ngFor="let car of cars">
              {{car.carType}} - {{car.plateNumber}}
            </option>
          </select>
          <small class="form-text text-danger"
                  *ngIf="carId.invalid && reservationForm.submitted">
            Please select the car
          </small>
        </div>

        <div class="form-group">
          <label>From</label>
          <div class="input-group">
            <input type="text"
                  class="form-control"
                  name="fromDate"
                  required
                  [max]="reservation.to"
                  #fromDate="ngModel"
                  [(ngModel)]="reservation.from"
                  [matDatepicker]="fromPicker"
                  placeholder="Select start date">
            <mat-datepicker #fromPicker></mat-datepicker>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button"
                      (click)="fromPicker.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <small class="form-text text-danger"
                *ngIf="fromDate.invalid && reservationForm.submitted">
            Please select the start date
          </small>
        </div>

        <div class="form-group">
          <label>To</label>
          <div class="input-group">
            <input type="text"
                  class="form-control"
                  name="toDate"
                  required
                  [min]="reservation.from"
                  #toDate="ngModel"
                  [(ngModel)]="reservation.to"
                  [matDatepicker]="toPicker"
                  placeholder="Select end date">
            <mat-datepicker #toPicker></mat-datepicker>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button"
                      (click)="toPicker.open()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          <small class="form-text text-danger"
                *ngIf="fromDate.invalid && reservationForm.submitted">
            Please select the end date
          </small>
        </div>

        <div class="form-group">
          <label>Client Name</label>
          <input type="text"
                  class="form-control"
                  name="clientName"
                  required
                  #clientName="ngModel"
                  [(ngModel)]="reservation.clientName"
                  placeholder="Enter Client's Name">
          <small class="form-text text-danger"
                *ngIf="clientName.invalid && reservationForm.submitted">
            Please enter the client name
          </small>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-secondary"
                (click)="onModalClose()">
          Close
        </button>
        <button type="submit"
                class="btn btn-primary">
          Create
        </button>
      </div>

    </form>
  </div>
</div>